.promo {
    display: flex;
    justify-content: space-around;
    &__text {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;

        &:hover {
            color: #c8f227;
        }
    }
    &__span {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
    }
}