.app {
	background-image: url('../../resources/bg.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	// background: -webkit-linear-gradient(90deg, #092cdc,#b80bc1);                         
	// background: linear-gradient(90deg, #092cdc,#b80bc1);

	&__container {
		width: 1100px;
		margin: 0 auto;
		padding: 50px 0 50px 0;
		position: relative;
	}

	&__charList {
		display: flex;
	}
}

                                     